<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!--  <link rel="stylesheet" href="/assets/globalcss/global.css"> -->
    <script src="../assets/lib/escapeHTML.js"></script>
    
    <title>%%DOCUMENT_TITLE%%</title>
    <link rel="stylesheet" href="components/nav/nav.css">
</head>
<body>
    <nav>
    
        <ul>
            <li><a class="active" href="/">Home
                <!-- <img class="logo-image" src="../assets/logo.png" alt="logo"> -->
            </a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/admin">admin</a></li>
          </ul>
    
    </nav>

    <main>