.loginbox{
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px black solid;
    padding: 0.5rem;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}